.admin-tools {
  margin-top: 2rem;
  text-align: center;
}

.admin-tools h2 {
  font-size: 1.5rem;
}

.admin-tools ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-btn {
  margin: 0.5rem;
  width: fit-content;
  padding: 0.6rem 1.4rem;
  font-size: 1.05rem;  
}
