.booking-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 25px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}


.message {
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

.message.success {
    background: #d4edda;
    color: #155724;
}

.message.error {
    background: #f8d7da;
    color: #721c24;
}

/* Form card */
.booking-form {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #eee;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

textarea {
    resize: vertical;
}

.time-row {
    display: flex;
    gap: 20px;
}

.hint {
    font-size: 12px;
    color: #666;
}


.submit-btn {
    margin-top: 10px;
    width: 100%;
    background: #702963;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}


